@model IEnumerable<Taller.Models.Inventario_Respuesto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_pieza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad_pieza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_pieza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad_disponible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado_piezas)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_pieza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad_pieza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_pieza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad_disponible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado_piezas)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
