
@{
    ViewBag.Title = "DatosFactura";
}

<h2>DatosFactura</h2>
<h3>@ViewBag.nombreT</h3>

<table>
      
        <tr>
            <td>@ViewBag.rncT</td>
            <td>@ViewBag.nombreT</td>
            <td>@ViewBag.direccionT</td>
            <td>@ViewBag.telefonoT</td>
            <td>@ViewBag.MarcaV</td>
            <td>@ViewBag.ModeloV</td>
            <td>@ViewBag.Colorv</td>
            <td>@ViewBag.nombreS</td>
            <td>@ViewBag.costoS</td>

        </tr>




        <h2>@ViewBag.hola</h2>

     
    </table>
    